.NavBar-container {
    position: fixed; /* keep it persistent */
    top: var(--l);
    right: var(--l);
    z-index:900;

    display: flex;
    flex-direction: column;
    gap: var(--s);
    align-items: flex-end;

    padding: var(--s) var(--m);
    background-color: var(--prussian-blue);
    border-radius: 10px; /* round-cornered rectangle */

    /* Use the utilities font (inherits from body) */
    font-family: inherit;

    /* subtle elevation */
    box-shadow: 0 var(--s) var(--m) #00000033;
}

.NavBar-link {
    color: var(--alabaster-grey);
    opacity: 1;
    text-decoration: none;
}

.NavBar-link:hover {
    opacity: 0.6;
    text-decoration: underline;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--s);
}
