@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --ink-black: #0d1b2aff;
  --prussian-blue: #1b263bff;
  --dusk-blue: #415a77ff;
  --dusty-denim: #778da9ff;
  --alabaster-grey: #e0e1ddff;


  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

body {
  background-color: var(--alabaster-grey);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

form {
  flex-grow: 1;
}

.u-flex {
  display: flex;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}