@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --baltic-blue: #22577aff;
  --tropical-teal: #38a3a5ff;
  --emerald: #57cc99ff;
  --light-green: #80ed99ff;
  --tea-green: #c7f9ccff;


  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}